.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.Home {
  background-color: #00a9d8;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Navbar {
  opacity: 1;
}

.NavBarItem {
  font-weight: bold;
  padding: 10px;
}

.NavBarItem a {
  color: white;
  text-decoration: none;
}

.AppBarContainer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row !important;
  background-color: #259b9a !important;
}

.HomeHeader {
  width: 100%;
  height: 400px;
  position: relative;
}

.MyBidsHeader {
  width: 100%;
  height: 250px;
  position: relative;
}

#headerImage {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#headerCover {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

.AutoAsasBest {
  position: absolute;
  top: 80px;
  left: 80px;
  color: white;
}

.AutoAsasBest #title {
  font-size: 42px;
  font-weight: bold;
}

.AutoAsasBest #description {
  font-size: 18px;
}

#createABid {
  position: absolute;
  bottom: 40px;
  right: 40px;
  background-color: #259b9a;
  color: white;
}

.HomeContainer {
  padding: 10px 20px 30px 20px;
  background-color: #00a9d8;
}

.CardContentSectionName {
  width: 100%;
  padding: 10px 0 10px 0;
  font-weight: 500;
  color: #259b9a;
}

.ContentCard {
  box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.132), 0 1.2px 3.6px 0 rgba(0, 0, 0, 0.108);
  background: white;
  padding: 20px 10px 10px 10px;
}

.CardContent {
  display: flex;
  justify-content: center;
}

.CardContent > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ContentCardTitle {
  width: 100%;
  font-size: 24px;
  text-transform: uppercase;
  padding-bottom: 5px;
  padding-top: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.ReviewCard {
  padding: 10px;
  margin-bottom: 15px;
  box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);
  width: 900px;
  display: flex;
  flex-wrap: nowrap !important;
  position: relative;
  background: white;
}

.ReviewCard > div {
  padding: 5px;
}

.Persona {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.SemiBold {
  font-weight: 500;
  color: #259b9a;
}

.ReviewCardMainInfo {
  width: 300px;
}

.ReviewCardMainInfo > div {
  display: flex;
  align-self: center;
}

.ReviewDate {
  position: absolute;
  right: 10px;
  top: 5px;
  opacity: 0.7;
}

.Footer {
  padding: 30px 15px;
  background-color: #383c49;
  color: white;
  display: flex;
  justify-content: space-between;
}

.Footer ul {
  list-style-type: none;
}

.SectionOptions {
  font-size: 14px;
}

.SectionOptions > div {
  padding: 5px 0 5px 0;
}

.FooterSectionName {
  font-weight: 500;
  color: #00a9d8;
  font-size: 16px;
  text-transform: uppercase;
}

.UserProfile {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.UserProfileContainer {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
}

.UserProfileContainer > div {
  align-self: center;
  margin-right: 10px;
  display: flex;
  flex-wrap: nowrap;
}

.mapouter {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.mapouter iframe {
  width: 100%;
}

.loginSubmit {
  padding: 10px !important;
  background-color: #259b9a !important;
}

.BidCreationForm {
  width: 100%;
  min-width: 300px;
}

.BidCreationForm * {
  width: 100%;
}

.BidCreationFromField {
  width: 100%;
}

.RepairShopActions {
  max-height: 0;
  transition: 0.2s ease-in-out;
  display: flex;
  overflow: hidden;
  width: 100%;
  padding: 0 10px 0 10px;
  background: rgba(0, 0, 0, 0.03);
  flex-wrap: wrap !important;
}

.RepairShopOffers {
  max-height: 0;
  transition: 0.2s ease-in-out;
  display: flex;
  overflow: hidden;
  width: 100%;
  padding: 0 10px 0 10px;
  background: rgba(0, 0, 0, 0.03);
  flex-wrap: wrap !important;
}

.RepairShopActions > div {
  width: 20%;
  align-self: flex-end;
  box-sizing: border-box;
}

.RepairShopOffers > div {
  width: 100%;
  box-sizing: border-box;
  align-self: flex-end;
  box-sizing: border-box;
}

.RepairShopActionsExpanded {
  max-height: 500px;
  padding-top: 15px;
  transition: 0.2s ease-in-out;
  padding: 10px;
}

.BidCard {
  margin-bottom: 15px;
  box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background-color: white;
}

.BidCard > div {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.BidCard > div > div {
  padding: 5px;
}

.NumberOfOffers {
  position: absolute;
  padding: 15px;
  background: #259b9a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  width: 15px;
  height: 15px;
  bottom: 5px;
  left: 10px;
}

.NumberOfOffers span {
  align-self: center;
  color: white;
}

.RepairOfferContainer {
  padding: 10px;
}

.RepairOffer {
  margin-top:10px;
  padding: 10px;
  padding-bottom: 40px;
  box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.132), 0 1.2px 3.6px 0 rgba(0, 0, 0, 0.108);
  background: white;
}
